{% extends "app/base_boot.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
<div class="container" style="text-align:center;margin-top:80px;">
    <h1>{% trans "Set Password" %}</h1>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" name="action" value="{% trans 'Set Password' %}"/>
    </form>
  </div>
{% endblock %}
